body{
    font-family: Arial, sans-serif;
    background-color: #c8fffc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    background-color: #64b2c0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

input[type="text"], input[type="password"]{
    width: 95%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: black 0px 0px 5px;
}

submit{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

input[type="submit"]:hover{
    background-color: #c8fffc;
}